* {
    font-family: 'Roboto', Courier, monospace;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: #0066cc;
}

#country {
    width: 35px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.clear-filters,
.filter-button-map,
.filter-button-character,
.filter-button-category {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    background-color: #000000;
    border-radius: 10%;
    cursor: pointer;
}

.center-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear-filters:active {
    background-color: #943535;
}

.search-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    background-color: #000000;
    border-radius: 10%;
    cursor: pointer;
    margin: auto;
    display: flex;
}

.filters {
    text-align: center;
    list-style-type: none;
}

.active {
    background-color: #943535;
}

.mainHeader {
    text-align: center;
}

.leaderboard {
    width: 100%;
    margin-top: 3px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.leaderboard th,
.leaderboard td {
    padding: 8px;
    text-align: center;
}

.leaderboard th {
    background-color: #000000;
    color: white;
}

.leaderboard tr {
    line-height: 85%;
}

.leaderboard tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaderboard tr:hover {
    background-color: #ddd;
}

.leaderboard td:first-child {
    text-align: center;
    font-weight: bold;
    width: 3%;
}

.leaderboard td:last-child {
    text-align: center;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button,
.pagination span {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.pagination span {
    font-weight: bold;
}