* {
	font-family: "Roboto", Courier, monospace;
}

a:link,
a:visited {
	text-decoration: none;
	color: #0066cc;
}

a:hover {
	font-weight: bold;
}

#country {
	width: 35px;
	height: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

#character {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	vertical-align: middle;
	filter: brightness(200%);
	border-radius: 65%;
	border-style: double;
	transition: transform 1s;
	transition-duration: 5ms;
}

#character:hover,
#map:hover {
	transform: scale(2.5);
}

#map {
	width: 100px;
	height: 35px;
	margin-right: 5px;
	vertical-align: middle;
	filter: brightness(150%);
	border-radius: 15%;
	border-style: double;
	transition: transform 1s;
	transition-duration: 5ms;
}

.search-input,
.clear-filters,
.toggle-stats,
.filter-button-map,
.filter-button-character,
.filter-button-category {
	padding: 8px 15px;
	font-size: 1.1em;
	color: white;
	font-weight: bold;
	background-color: #000000;
	border-radius: 10%;
	cursor: pointer;
}

.search-input::placeholder {
	opacity: 1;
}

.search-input {
	width: 150px;
}

.center-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.clear-filters:active,
.toggle-stats:active {
	background-color: #943535;
}

.filters {
	text-align: center;
	list-style-type: none;
}

.active {
	background-color: #943535;
}

.mainHeader {
	text-align: center;
	margin-top: 1px;
	margin-bottom: 10px;
}

.leaderboard {
	width: 100%;
	margin-top: 3px;
	border-collapse: collapse;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.leaderboard th,
.leaderboard td {
	padding: 8px;
	text-align: center;
}

.leaderboard th {
	background-color: #000000;
	color: white;
}

.leaderboard tr {
	line-height: 85%;
}

.leaderboard tr:first-child td {
	font-weight: bold;
}

.leaderboard tr:nth-child(even) {
	background-color: #f2f2f2;
}

.leaderboard tr:hover {
	background-color: #ddd;
}

.leaderboard td:first-child {
	text-align: center;
	font-weight: bold;
	width: 3%;
}

.leaderboard td:last-child {
	text-align: center;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination button,
.pagination span {
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
	font-weight: bold;
	font-size: large;
}

.pagination span {
	font-weight: bold;
}
